* {
	margin: 0;
}

html,
body { 
	height: 100%;
	background-color: grey;
}
.error {
	color: red;
}
.main {
	display: grid;
	padding: 10px;
	height: auto;
	/*background-color: #CCCCCC;*/
}
.form {
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 8;
	margin: 10px auto auto;
	border: 3px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: #FFF;
	width: 300px;
	height: auto;
}
.form h2, h3, input {
	margin: 5px;
}
.form h2 {
	text-align: center;
}
table {
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 1;
  	grid-row-end: 2;
	margin: auto;
	background-color: #FFF;
	min-width: 200px;
	max-width: 300px;
	height: auto;
	text-align: center;
	border-collapse: collapse;
}
tr, th, td {
	border: 3px solid black;
}
.logOut {
	grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 7;
  	grid-row-end: 8;
	display: flex;
	background-color: #FFF;
	border: 3px solid black;
	border-radius: 5px;
	width: 70px;
	height: 40px;
	justify-content: center;
	align-items: center;
}
.validation {
	grid-column-start: 2;
  	grid-column-end: 3;
	margin: 10px auto auto;
	border: 3px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: #FFF;
	width: 200px;
	height: auto;
	text-align: center;
}